* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgb(3,103,166);
    background: linear-gradient(180deg, rgba(3,103,166,1) 0%, rgba(63,155,191,1) 100%);
}

.btn-header {
    background-color: #55B084;
    border-color: #55B084;
    width: 80px;
    box-shadow: black;
}

.btn-hero {
    background-color: #55B084;
    border-color: #55B084;
    height: 50px;
}

nav a {
    text-decoration: none;
    color: white;
}

.hero {
    background: none;
}

.hero-image {
    max-width: max-content;
    max-height: max-content;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.search-container {
    margin-top: 50px;
    padding: 50px 20px;
}

.search {
    width: 100%;
    max-width: 1495px;
    max-height: 924px;
    border-radius: 64px;
    padding: 40px;
}

.search h2 {
    font-size: 38px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #1577AE;
    text-align: center;
}

.btn-search{
    background-color: #1577AE;
    border-color: #1577AE;
}

.info h2, .target h2 {
    color: #004080;
}

.info .card {
    border: none;
}

.info-text{
    font-size: 20px;
}

.info-image img {
    max-width: 100%;
    height: auto;
    max-height: 400px; /* Limit the height to ensure the image is not too large */
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}

.info-text h1 {
    font-size: 2rem; /* Adjust the font size for the heading */
    color: #1A7BA0;
}

.info-text p {
    font-size: 1rem; /* Adjust the font size for the paragraph */
    line-height: 1.5; /* Add some line height for better readability */
    color: #1A7BA0;
}

.target-image img {
    max-width: 100%;
    height: auto;
    max-height: 400px; /* Limit the height to ensure the image is not too large */
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}

.target-text h1 {
    font-size: 2rem; /* Adjust the font size for the heading */
}

.target-text p {
    font-size: 1rem; /* Adjust the font size for the paragraph */
    line-height: 1.5; /* Add some line height for better readability */
}

footer {
    color: white;
    text-align: left;
    margin-top: auto;
}

footer img {
    max-width: 100%;
    height: auto;
}

footer h5 {
    margin-bottom: 1rem;
}

footer p {
    margin-bottom: 0.5rem;
    font-size: smaller;
}

.login-container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    max-width: 900px;
    width: 100%;
    box-shadow: inset;
}

.login-left {
    background-color: #007bff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    flex: 1;
}

.logo {
    max-width: 100%;
    height: auto;
}

.login-right {
    padding: 30px;
    flex: 1;
    margin-left: 20px;
    border-left: 2px solid rgb(3,103,166);;
}

.form-group label {
    font-weight: bold;
}

.btn-block {
    margin-top: 20px;
}

body h2{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.btn-submit{
    background-color: #2C8BB7;
}
